<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    colors="true"
    bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="file/upload">
            <directory>tests/file/upload</directory>
        </testsuite>
        <testsuite name="file/listing">
            <directory>tests/file/listing</directory>
        </testsuite>
        <testsuite name="file/download">
            <directory>tests/file/download</directory>
        </testsuite>
        <testsuite name="file/delete">
            <file>tests/file/delete/HttpStatus400Test.php</file>
            <file>tests/file/delete/HttpStatus404Test.php</file>
            <file>tests/file/delete/HttpStatus200Test.php</file>
        </testsuite>
    </testsuites>
</phpunit>
